@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

html {
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  /* background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)); */
  display: grid;
  place-content: center;
}

@media screen and (min-width: 940px) {
  body {
    padding: 48px;
  }
}

/* 
.xd { 
  background-position: 1260% 65%
} */